{% extends 'index.html' %}
{% load staticfiles %}

{% block body %}
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Про проект</h1>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Головна</a></li>
                        <li class="active">Про проект</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->

    <section id="about-us" class="container" style="min-height: 70%;">
        <div class="row">
            <div class="col-md-7">
                <img style="width: 100%"  src="{% static "static/images/images_Prometheus.jpg" %}">
            </div>
            <div class="col-md-4">
                <p>
                    <a href="https://prometheus.org.ua/">«Prometheus»</a> – це український громадський проект масових відкритих онлайн-курсів.
                    Мета проекту – безкоштовно надати найкращі навчальні можливості кожному громадянину України.
                </p>
                <p>
                    Щодня на платформі користувачами генерується велика кількість даних яка має бути
                    передставлена для вчителів, персоналу <a href="https://prometheus.org.ua/">«Prometheus»</a>,
                    а також для самих користувачів. Prometheus.Analytics дозволяє для кожного курсу можна подивитися
                    гендерний розподівл зареєстрованих, відсоток проходження,
                    найпроблемніші питання та багато іншого. Також є функція прогнозу
                    успішності проходження курсу для конкретного користувача.
                </p>
                <p>
                    Розрозбник системи: Максим Бережняк. За будь-якими питаннями звертайтесь за адресою maxonly9@gmail.com
                </p>
            </div>
        </div>
        <div class="gap"></div>
    </section>
{% endblock %}