{% extends 'index.html' %}
{% load staticfiles %}

{% block body %}
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Про проект</h1>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Головна</a></li>
                        <li class="active">Про проект</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->

    <section id="about-us" class="container" style="min-height: 70%;">


        <div class="gap"></div>
        <h1 class="center">Сторінка розробляється</h1>
        <!--<div class="center">
            <img src="{% static "static/images/avg_time.png" %}">
        </div>
        <div class="gap"></div>
        <div class="center">
            <img src="/chart/simple.png">
        </div>-->
    </section>
{% endblock %}