{% extends 'index.html' %}
{% load staticfiles %}
{% load activator %}

{% block body %}

<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Курс</h1>
                    <p>Інформація про користувачів певного курсу</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Головна</a></li>
                        <li class="active">Курс</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->

    <section class="container" style="min-height: 70%;">

    <div id="wrap">
        <div id="left">
            <div>
                <form role="form" action="/course/set_course/" method="post">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="sel1">Назва курсу:</label>
                      <select class="form-control" id="sel1" name="course_name" onchange="this.form.submit()">
                          {% for c in course_names %}
                            {% if c.0 == course %}
                                <option value="{{ c.0 }}" selected="selected">{{ c.1 }}</option>
                            {% else %}
                                <option value="{{ c.0 }}">{{ c.1 }}</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                        <input type="hidden" name="path" value="{{ path }}">
                    </div>
                </form>
            </div>
            <ul id="menu" class="collapse">

                <li class="panel {% activator request 'main' %}">
                    <a href="/course/main/">
                        Сертифікати
                    </a>
                </li>

                <li class="panel {% activator request 'age' %}">
                    <a href="/course/age/">
                        Вік
                    </a>
                </li>

                <li class="panel {% activator request 'education' %}">
                    <a href="/course/education/">
                        Освіта
                    </a>
                </li>

                <li class="panel {% activator request 'gender' %}">
                    <a href="/course/gender/">
                        Стать
                    </a>
                </li>

                <li class="panel {% activator request 'geography' %}">
                    <a href="/course/geography/">
                        Географія
                    </a>
                </li>

                <li class="panel {% activator request 'registration' %}">
                    <a href="/course/registration/">
                        Реєстрація
                    </a>
                </li>
                {% if is_staff or is_teacher %}
                <li class="panel {% activator request 'finish' %} {% activator request 'quesion' %} {% activator request 'answer' %}">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
                        <i class="icon-tasks"> </i> Результати

                        <span class="pull-right">
                          <i class="icon-angle-left"></i>
                        </span>
                    </a>
                    <ul class="collapse" id="component-nav">

                        <li class=""><a href="/course/finish/"><i class="icon-angle-right"></i> Завершення </a></li>
                        <li class=""><a href="/course/tests/"><i class="icon-angle-right"></i> Тести </a></li>
                        <li class=""><a href="/course/questions/"><i class="icon-angle-right"></i> Питання </a></li>
                    </ul>
                </li>
                {% endif %}

            </ul>
        </div>

        <div id="content" style="width: 73%">
               {% block data %}{% endblock %}
        </div>

    </div>
    </section>
{% endblock %}