{% extends 'index.html' %}
{% load staticfiles %}
{% load activator %}

{% block body %}
<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Prometheus</h1>
                    <p>Інформація про користувачів Prometheus</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Головна</a></li>
                        <li class="active">Prometheus</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->

    <section class="container" style="min-height: 70%;">

    <div id="wrap" style="min-height: 70%;">
        <div id="left">
            <ul id="menu" class="collapse">
                <li class="panel {% activator request 'age' %}">
                    <a href="/platform/age/">
                        Вік
                    </a>
                </li>

                <li class="panel {% activator request 'education' %}">
                    <a href="/platform/education/">
                        Освіта
                    </a>
                </li>

                <li class="panel {% activator request 'gender' %}">
                    <a href="/platform/gender/">
                        Стать
                    </a>
                </li>
                <li class="panel {% activator request 'geography' %}">
                    <a href="/platform/geography/">
                        Географія
                    </a>
                </li>
                <li class="panel {% activator request 'registration' %}">
                    <a href="#">
                        Реєстрація
                    </a>
                </li>
                {% if is_staff or is_teacher %}
                <li class="panel {% activator request 'popularity' %}">
                    <a href="#">
                        Популярність курсів
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div id="content" style="width: 73%" >
            {% block data %}{% endblock %}
        </div>

    </div>
    </section>
{% endblock %}